.navbar{
    width:100%;
    height:5%;
    background-color:gray;

}
h6{
    text-align: left;
}
.navbar a{
    text-align:right;

}
.header_body{
    background-attachment: fixed;

}
h5{
    color: aliceblue;
}
h1{
    color: aliceblue;
}
.navbar contact{
    
}